$color-yellow: #126e82;
$color-black: #000000;
.articles {
  padding: 50px 0;
}
.hire-me {
  background-color: $color-yellow;
  border: 1px solid red;
  border-color: $color-yellow;
  padding: 3px 15px;
  border-radius: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  outline: none;
  color: #d8e3e7;
  &:hover {
    background-color: #e5e5e5;
    border: 1px solid #126e82;
  }
}
.card-body {
  background-color: $color-black;
}
.card {
  border: none;
  .card-title {
    text-transform: uppercase;
    color: $color-yellow;
  }

  .card-text {
    color: #e5e5e5;
  }
}
