.sticky {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  background: #d8e3e7;
  transition: all 0.5s;
  //   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  //     rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  // }
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  .container {
    background: #51c4d3;
    border: 3px solid #126e82;
    border-radius: 10px;
    // margin-top: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  transition: ease 0.5s;
}
.navbar-brand {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #132c33 !important;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  font-size: 18px;
  letter-spacing: 2px;
  color: #132c33 !important;

  &:hover {
    color: #d8e3e7 !important;
  }
}

.btn-down {
  outline: none;
  font-size: 18px;
  letter-spacing: 2px;
  color: #d8e3e7;
  text-transform: uppercase;
  background-color: #126e82;
  border: 2px solid transparent;

  &:hover {
    background-color: #d8e3e7;
    border-color: #126e82;
    color: #126e82;
  }
}
